
T71 BLAST RESULTS/analysis/T71CD.Ri.408819.13.3_A1C6GM9K013-Alignment.txt_out
T71 BLAST RESULTS/analysis/T71CD.Ri.408819.13.6_A1C746CH013-Alignment.txt_out
T71 BLAST RESULTS/analysis/T71CD.Ri.408819.13.8_A1C7RTX3016-Alignment.txt_out
T71 BLAST RESULTS/analysis/tr_T71CD.Ri.408819.13.3_A1C6GM9K013-Alignment.txt
T71 BLAST RESULTS/analysis/tr_T71CD.Ri.408819.13.6_A1C746CH013-Alignment.txt
T71 BLAST RESULTS/analysis/tr_T71CD.Ri.408819.13.8_A1C7RTX3016-Alignment.txt
T71 BLAST RESULTS/main.py
T71 BLAST RESULTS/parse_blast_output.sh
T71 BLAST RESULTS/T71CD.Ri.408819.13.3_A1C6GM9K013-Alignment.txt
T71 BLAST RESULTS/T71CD.Ri.408819.13.6_A1C746CH013-Alignment.txt
T71 BLAST RESULTS/T71CD.Ri.408819.13.8_A1C7RTX3016-Alignment.txt
T71 BLAST RESULTS/tr_T71CD.Ri.408819.13.3_A1C6GM9K013-Alignment_output.csv
T71 BLAST RESULTS/tr_T71CD.Ri.408819.13.6_A1C746CH013-Alignment_output.csv
T71 BLAST RESULTS/tr_T71CD.Ri.408819.13.8_A1C7RTX3016-Alignment_output.csv
T79 BLAST RESUTLS/analysis/T79CD.Ri.408837.13.11_A3DTEXEW013-Alignment.txt_out
T79 BLAST RESUTLS/analysis/T79CD.Ri.408837.13.12_A3DU6J1R016-Alignment.txt_out
T79 BLAST RESUTLS/analysis/T79CD.Ri.408837.13.13_A3DUSEKJ016-Alignment.txt_out
T79 BLAST RESUTLS/analysis/T79CD.Ri.408837.13.1_A3DNNSUJ016-Alignment.txt_out
T79 BLAST RESUTLS/analysis/T79CD.Ri.408837.13.3_A3DP6XWU013-Alignment.txt_out
T79 BLAST RESUTLS/analysis/T79CD.Ri.408837.13.5_A3DPTH8S01R-Alignment.txt_out
T79 BLAST RESUTLS/analysis/T79CD.Ri.408837.13.6_A3DS0W8001R-Alignment.txt_out
T79 BLAST RESUTLS/analysis/tr_T79CD.Ri.408837.13.11_A3DTEXEW013-Alignment.txt
T79 BLAST RESUTLS/analysis/tr_T79CD.Ri.408837.13.12_A3DU6J1R016-Alignment.txt
T79 BLAST RESUTLS/analysis/tr_T79CD.Ri.408837.13.13_A3DUSEKJ016-Alignment.txt
T79 BLAST RESUTLS/analysis/tr_T79CD.Ri.408837.13.1_A3DNNSUJ016-Alignment.txt
T79 BLAST RESUTLS/analysis/tr_T79CD.Ri.408837.13.3_A3DP6XWU013-Alignment.txt
T79 BLAST RESUTLS/analysis/tr_T79CD.Ri.408837.13.5_A3DPTH8S01R-Alignment.txt
T79 BLAST RESUTLS/analysis/tr_T79CD.Ri.408837.13.6_A3DS0W8001R-Alignment.txt
T79 BLAST RESUTLS/T79CD.Ri.408837.13.11_A3DTEXEW013-Alignment.txt
T79 BLAST RESUTLS/T79CD.Ri.408837.13.12_A3DU6J1R016-Alignment.txt
T79 BLAST RESUTLS/T79CD.Ri.408837.13.13_A3DUSEKJ016-Alignment.txt
T79 BLAST RESUTLS/T79CD.Ri.408837.13.1_A3DNNSUJ016-Alignment.txt
T79 BLAST RESUTLS/T79CD.Ri.408837.13.3_A3DP6XWU013-Alignment.txt
T79 BLAST RESUTLS/T79CD.Ri.408837.13.5_A3DPTH8S01R-Alignment.txt
T79 BLAST RESUTLS/T79CD.Ri.408837.13.6_A3DS0W8001R-Alignment.txt
